.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3660b4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f66e50;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333; 
  text-align: center;
}
h2, h3, h4 {
  color: #333; 
}


.menu-section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.combo-item {
  background-color: #a8daeb;
  padding: 5px;
  margin: 2px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.combo-item h3 {
  margin: 0;
  flex: 1; 
}

.combo-item .button-group {
  display: flex;
  gap: 10px;
}


button {
  padding: 10px 20px;
  margin: 5px ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  
}


button:hover {
  transform: scale(1.05);
  }


.section {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}


.orders-section {
  background-color: #f2f3f7;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.orders-section h2 {
  margin-top: 0;
    }

.orders-section ul {
  padding-left: 20px;
    }

.orders-section li {
  list-style-type: none;
  padding: 5px 0;
  }

.orders-section h4 {
  margin-top: 10px;
  background-color: #6cc6de;
}
